<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <img
          srcset="
            /images/support-landing-page/product-blends/farmhouse/farmhouse-banner-xs.jpg  576w,
            /images/support-landing-page/product-blends/farmhouse/farmhouse-banner-sm.jpg  768w,
            /images/support-landing-page/product-blends/farmhouse/farmhouse-banner-md.jpg  992w,
            /images/support-landing-page/product-blends/farmhouse/farmhouse-banner-lg.jpg 1200w,
            /images/support-landing-page/product-blends/farmhouse/farmhouse-banner-xl.jpg 1920w
          "
          class="img-fluid"
          sizes="100vw"
          src="/images/support-landing-page/product-blends/farmhouse/farmhouse-banner-xl.jpg"
          alt="Rustic Modern Farmhouse"
        />
        <div class="top-center-container">
          <div class="light-text">
            <h1>Rugged Charmer</h1>
            <h2>Modern Farmhouse</h2>
            <a
              href="/categories?&blnds[]=Rugged+Charmer"
              class="btn btn-sm btn-elandel"
            >
              View Blend <i class="fal fa-chevron-right"></i
            ></a>
          </div>
          <!-- .light-text -->
        </div>
        <!-- .top-center-container -->
      </div>
      <!-- .banner -->
    </div>
    <!-- .col-12  -->
  </div>
  <!-- .row  -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row landing-text-container">
    <div class="col-12 landing-text-box">
      <h2>The Modern Farmhouse</h2>
      <P class="" >
        The Modern Farmhouse design takes the comfortable, relaxed feeling from
        the classic farmhouse style and adds a modern twist of smooth lines,
        glossy accents and a neutral color scheme. The rustic charm is still
        present. however, it adds a more sophisticated and contemporary design
        by incorporating stainless steel appliances, granite counter tops and
        sleek lighting. Think cozy yet clutter free.
      </P>
      <P class="" >
        Mainly, with Modern Farmhouse, you would be mixing and matching vintage
        with new. This allows for the authenticity of Farmhouse style to be
        present, but the new furniture adds comfort and style into the mix.
        There is also the mix and match of natural elements, for instance wood
        and stainless steel.
      </P>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="farmhouse Crown look"
        src="/images/support-landing-page/product-blends/farmhouse/farmhouse-inset-1-1.jpg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Crown your look</h2>
      <p>
        Whether it is just you or you have a family, this style suits the
        practical element you are shooting for. The farmhouse look is all about
        comfort and should invite you to sit down and relax, nothing should look
        as if it’s too delicate to touch. Mixing industrial-style metal objects,
        like lighting fixtures and furniture, you can get that sleek and
        minimalistic look and feel you desire. For a look like this, check out
        the key elements below.
      </p>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->

  <div class="row align-items-center landing-text-container">
    <div class="col-12 text-center">
      <h1 class="pb-4 ">Key Elements</h1>
      <!--ddd  -->
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=Rugged+Charmer" class="text-dark">
        <h2>Mantels</h2>
      </a>
      <p>
        You may or may not have noticed, but in the image above, the kids are
        getting something off a shelf, or is it? Actually, these are Majestic
        Mantels that are being repurposed. They bring in an added element of the
        classic farmhouse design and allow for practicality.
      </p>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <a href="/categories?&blnds[]=Rugged+Charmer" class="text-dark">
        <img
          farmhouse-inset-1.jpg
          class="featurette-image img-fluid mx-auto"
          alt="Modern Farmhouse Mantels"
          src="/images/support-landing-page/product-blends/farmhouse/farmhouse-inset-2.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row d-flex align-items-center landing-text-container">
    <div class="col-12 order-md-2 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=Rugged+Charmer" class="text-dark">
        <h2>Doors</h2>
      </a>
      <p>
        Interior doors in a Modern Farmhouse lean on the wooden look, think Barn
        Doors. However, if you’re hoping to blend in a more modern feel for your
        doors, you can also add in a door like the Winslow to add a pop of
        white.
      </p>
    </div>
    <div class=" order-md-1 col-12 col-md-6 text-center landing-text-container">
      <a href="/categories?&blnds[]=Rugged+Charmer" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Modern Farmhouse Doors"
            src="/images/support-landing-page/product-blends/farmhouse/farmhouse-inset-3.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>

  <div class="row align-items-center landing-text-container">
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=Rugged+Charmer" class="text-dark">
        <h2>Moulding</h2>
      </a> 
      <p>
        The moulding in a Modern Farmhouse adds the wood elements you are
        seeking. This brings the fundamental design of the farmhouse into the
        picture in a noticeable way. However, you’ll notice that in newer modern
        farmhouse styles, the moulding tends to be white to make it a more sleek
        style.
      </p>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <a href="/categories?&blnds[]=Rugged+Charmer" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Modern Farmhouse Moulding"
            src="/images/support-landing-page/product-blends/farmhouse/farmhouse-inset-4-2.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="Rugged Charmer Doors"
        src="/images/support-landing-page/product-blends/farmhouse/farmhouse-inset-5.jpg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Rugged Charmer</h2>
      <p>
        This is a white mudroom in a modern farmhouse style home with a
        VistaGrande full lite green door. Note the wainscoting on the walls and
        the casing around the door match the sleek and minimalistic look.
      </p>
    </div>
    <!-- col-12 -->
  </div>
</div>

<!-- container -->
